{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Unus</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>



<style>
  /* Style for the container */
  /*spotify*/
  .iframe-container {
      
      
      overflow-y: scroll; /* Enable vertical scrolling */
      width: 50%; /* Set the container width to occupy the available space */
      height: 1150px; /* Set the container height (adjust as needed) */
      margin: 0; /* Remove margin */
      padding: 0; /* Remove padding */
      font-size: 0; /* Set font size to 0 to remove whitespace between inline elements */
  }
  

</style>


<!-- <form>
Spotify below  
</form> -->
<style>
  /* Style for the container */
  .track-container {
      display: inline-block;
      margin: 10px;
  }
</style>


<body>
  <div class="iframe-container" style="float:left;">
    {% for id in library_tracks_ids %}
      <iframe src="https://open.spotify.com/embed/track/{{id}}" width="97%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {% endfor %}
    </div>
</body>
<!-- <form>
Sound cloud below  
</form> -->
<body>
  </div class="iframe-container-second"style="float:right;">
  <iframe display:inline-block; width="50%" height="1100" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/1273773706/favorites&amp;{ ADD YOUR PARAMETERS HERE }">
  </iframe>
</body>
{% endblock %}
