{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Unus</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>


<style>
  /* Flexbox container for the two search bars */
  .search-bars-container {
      display: flex;
      justify-content: space-between;
      height: 45px;
      position: absolute;
      width: 100%;
      top: 62px;
      padding-left: 7vw;
      padding-right: 7vw;
  }

  /* Style for the search bar */
  .search-bar {
      display: flex;
      align-items: center;
      background-color: #b8f43f;
      border-radius: 5px;
      padding: 5px;
  }

  .search-bar input[type="text"] {
      padding: 5px;
      border: none;
      outline: none;
  }

  .search-bar button[type="submit"] {
      padding: 5px 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
</style>

<!-- <div>
  <iframe class="iframe-track" allowtransparency="true"
   src="https://open.spotify.com/embed/track/0W4Kpfp1w2xkY3PrV714B7?"
   allow="encrypted-media" frameborder="0"></iframe>
</div>
{% for id in library_tracks_ids %}
  <div>
    <iframe class="iframe-track" allowtransparency="true"
     src="https://open.spotify.com/embed/track/{{id}}" 
     allow="encrypted-media" frameborder="0"></iframe>
  </div>
{% endfor %} -->
<style>
  /* Style for the container */
  /*spotify*/
  .iframe-container {
      
      
      overflow-y: scroll; /* Enable vertical scrolling */
      width: 50%; /* Set the container width to occupy the available space */
      height: 1150px; /* Set the container height (adjust as needed) */
      margin: 0; /* Remove margin */
      padding: 0; /* Remove padding */
      font-size: 0; /* Set font size to 0 to remove whitespace between inline elements */
  }
  
        
/*Soundcloud*/
  .iframe-container-second
  {
    overflow-y: scroll; /* Enable vertical scrolling */
    width: 50%; /* Set the container width to occupy the available space */
    height: 1150px; /* Set the container height (adjust as needed) */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    font-size: 0; /* Set font size to 0 to remove whitespace between inline elements */

  }
  
  /* Style for the iframes */
  /*.iframe-container iframe {
      width: 100%; /* Set the width of each iframe to fill the container */
   /*   height: 200px; /* Set the height of each iframe (adjust as needed) */
   /*   margin: 0 auto; /* Remove margin */
    /*  padding: 0; /* Remove padding */
      /*display: inline-block; /* Change iframes to block elements to occupy full width of the container */

      /*margin-bottom: 10px; /* Add some spacing between iframes */
      
</style>


<!-- <form>
Spotify below  
</form> -->
<style>
  /* Style for the container */
  .track-container {
      display: inline-block;
      margin: 10px;
  }
</style>


<body>
  <div class="iframe-container" style="float:left;">
    {% for id in library_tracks_ids %}
      <iframe src="https://open.spotify.com/embed/track/{{id}}" width="97%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {% endfor %}
    </div>
</body>
<!-- <form>
Sound cloud below  
</form> -->
<body>
  </div class="iframe-container-second"style="float:right;">
  <iframe display:inline-block; width="50%" height="465" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/1273773706/favorites&amp;{ ADD YOUR PARAMETERS HERE }">
  </iframe>
</body>


<body>
  <div class="search-bars-container">
      <div class="search-bar">
          <form action="/search" method="post">
              <input type="text" name="q" placeholder="Search Spotify" />
              <button type="submit">Search</button>
          </form>
      </div>

      <div class="search-bar">
          <form action="/search" method="post">
              <input type="text" name="q" placeholder="Search Soundcloud" />
              <button type="submit">Search</button>
          </form>
      </div>
  </div>
</body>


<!-- <form>
Commented code here -- 
</form> -->
<!-- <form>
  <h1>Spotify Web Playback SDK Quick Start</h1>
    <button id="togglePlay">Toggle Play</button>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = '[access_token]';
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); },
                volume: 0.5
            });

            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            player.addListener('initialization_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('authentication_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('account_error', ({ message }) => {
                console.error(message);
            });

            document.getElementById('togglePlay').onclick = function() {
              player.togglePlay();
            };

            player.connect();
        }
    </script>
</form> -->
<!-- <form>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>
      window.onSpotifyWebPlaybackSDKReady = () => {
          const token = "{{ access_token }}";
          const player = new Spotify.Player({
              name: 'My Web Player',
              getOAuthToken: callback => {
                  callback(token);
              }, volume: 0.5
          });

          // Connect to the player
          player.connect().then(success => {
              if (success) {
                  print("\nplayer connected\n")
                  console.log('Connected to Spotify Web Playback SDK');
              }
          }).catch(error => {
            print("\nplayer not connected\n")
              console.error('Failed to connect to Spotify Web Playback SDK', error);
          });
      }
  </script>
</form>
<form>
  <h1>Spotify Web Player</h1>
  
  <button onclick="playTrack()">Play</button>
  <button onclick="pauseTrack()">Pause</button>
  <button onclick="nextTrack()">Next</button>
  <button onclick="previousTrack()">Previous</button>

  <script>
      function playTrack() {
          player.resume();
      }

      function pauseTrack() {
          player.pause();
      }

      function nextTrack() {
          player.nextTrack();
      }

      function previousTrack() {
          player.previousTrack();
      }
  </script>
</form> -->
{% endblock %}
