{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">UNUS Login</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
  <div class="container">
    <footer>
      <p>Have all your music in one place</p>
    </footer>
  </div>
  <style>
    .container {
      padding-top: 50px;
    }
  </style>
  <div class="button-container">
    <button class="spotify-button">Log into Spotify</button>
    <button class="soundcloud-button">Log into Soundcloud</button>
  </div>
  <style>
    .button-container {
      display: flex;
      justify-content: space-between;
      width: 420px; 
      margin: 0 auto; 
      margin-top: 20px; 
    }

    .spotify-button {
      background-size: cover; 
      width: 200px; 
      height: 50px;
      border: none; 
      color: rgb(9, 144, 76);
      font-size: 16px; 
      cursor: pointer; 
    }
    .soundcloud-button { 
      background-size: cover; 
      width: 200px; 
      height: 50px; 
      border: none; 
      color: rgb(234, 69, 58); 
      font-size: 16px; 
      cursor: pointer; 
    }
  </style>
</form>
{% endblock %}
