{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
  content %}
  <form method="POST">
    <style>
      .bordered-element {
        border: 3px solid #ccc;
        border-radius: 2px;
        padding: 5px 10px;
        margin-bottom: 10px;
      }
  
      .bordered-header {
        border-color: #fbff003e;
        display: inline-block;
        padding: 5px 10px;
      }
  
      .bordered-label {
        border-color: #FFC107; 
      }
  
      .bordered-button {
        border-color: #28A745; 
      }
  
      .container {
        padding-top: 50px;
      }
    </style>
  
    <h3 align="center" class="bordered-element bordered-header">Sign Up</h3>
  
    <div class="form-group bordered-element">
      <label for="email" class="bordered-label">Email Address</label>
      <input type="email" class="form-control bordered-element" id="email" name="email" placeholder="Enter email" />
    </div>
  
    <div class="form-group bordered-element">
      <label for="firstName" class="bordered-label">First Name</label>
      <input type="text" class="form-control bordered-element" id="firstName" name="firstName" placeholder="Enter first name" />
    </div>
  
    <div class="form-group bordered-element">
      <label for="password1" class="bordered-label">Password</label>
      <input type="password" class="form-control bordered-element" id="password1" name="password1" placeholder="Enter password" />
    </div>
  
    <div class="form-group bordered-element">
      <label for="password2" class="bordered-label">Password (Confirm)</label>
      <input type="password" class="form-control bordered-element" id="password2" name="password2" placeholder="Confirm password" />
    </div>
  
    <br />
  
    <button type="submit" class="btn btn-primary bordered-element bordered-button">Submit</button>
  
    <div class="container bordered-element">
      <ul>
        <li>Password must be at least 7 characters</li>
        <li>Email must be at least 3 characters</li>
      </ul>
    </div>
  
  </form>
  {% endblock %}